/* Chat message styles */
.message-header h2.damage {
  color: darkred;
  font-weight: bold;
}
.message-header h2.heal {
  color: darkgreen;
  font-weight: bold;
}
.message-header h2.critical {
  color: green;
  font-weight: bold;
}
.message-header h2.standard {
  color: #005477;
  font-weight: bold;
}
.message-header h2.fumble {
  color: red;
  font-weight: bold;
}
.message-header h2.success {
  color: darkgreen;
  font-weight: bold;
}
.message-header h2.failure {
  color: orangered;
  font-weight: bold;
}
.message-header h2.roll {
  color: darkslategrey;
  font-weight: bold;
}
.chat-message .btn {
  cursor: pointer;
  margin: 0 0 5px 2px;
  padding: 3px;
  min-width: 25px;
  height: 28px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
.chat-message .btn:hover {
  color: #464331c4;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  border: 1px outset #736953a6;
}
.chat-message .btn:active {
  border: 1px inset #736953a6;
  background: rgba(0, 0, 0, 0.3);
  color: #464331c4;
}
.rollDialogDescr {
  border: none;
  resize: none;
  height: 80px;
  font-family: "Signika", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #4b4a44;
}
.rollDialogDescr:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.rollDescr-line {
  font-style: italic;
  line-height: 15px;
  white-space: pre-line;
  font-family: "Signika", sans-serif;
}