<div class="cof-flexrow cof-no-wrap">
    <div class="cof-flex1 layout">
        <!-- STATS -->
        {{> "systems/cof/templates/actors/parts/stats/actor-attributes.hbs"}}
    </div>
    <div class="cof-flex1 layout">
        <!-- ATTAQUES -->
        {{> "systems/cof/templates/actors/parts/stats/actor-attacks.hbs"}}
        <div class="cof-flexrow"><div class="cof-flex1 spacer"></div></div>
        <!-- INIT -->
        {{> "systems/cof/templates/actors/parts/stats/actor-init.hbs"}}
    </div>
</div>
<div class="cof-flexrow"><div class="cof-flex1 half-spacer"></div></div>
<div class="cof-flexrow cof-no-wrap">
    <div class="cof-flex1 layout">
        <!-- VITALITE -->
        {{> "systems/cof/templates/actors/parts/stats/actor-vitality.hbs"}}
        <div class="cof-flexrow"><div class="cof-flex1 half-spacer"></div></div>
        <!-- DEFENSE -->
        {{> "systems/cof/templates/actors/parts/stats/actor-defence.hbs"}}
    </div>
    <div class="cof-flex1 layout">
        <!-- RECOVERY -->
        {{> "systems/cof/templates/actors/parts/stats/actor-recovery.hbs"}}
        <!-- RESOURCES -->
        {{> "systems/cof/templates/actors/parts/stats/actor-resources.hbs"}}
    </div>
</div>
